<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python

</div>

<h2 align="center">Fernando Moreno Bautista</h2>
<h2 align="center"> 1013656283</h2>
<h2 align="center">Algoritmos</h2>

# 01 Data Types and Data Structures


# Introduction

This tutorial provides a basic introduction to the Python programming language. If you are new to Python, you should run the code snippets while reading this tutorial. If you are an advanced Python user, please feel free to skip this chapter.

# Basic Variable Types
The basic types of variables in Python are: strings, integers, floating point numbers and booleans.

Strings in python are identified as a contiguous set of characters represented in either single quotes (' ') or double quotes (" ").

In [ ]:
my_string1 = 'Welcome to'
my_string2 = "QuantConnect"
print(my_string1 + ' ' + my_string2)

Welcome to QuantConnect

In [ ]:
# NUEVO EJEMPLO
myStr1 = 'Soy'
myStr2 = 'una'
myStr3 = 'prueba'
print(myStr1 + ' ' + myStr2 + ' ' + myStr3)

Soy una prueba

An integer is a round number with no values after the decimal point.

In [ ]:
my_int = 10
print(my_int)
print(type(my_int))

10
<class 'int'>

In [ ]:
# NUEVO EJEMPLO
myInt = 98765432
print(myInt)
print('TYPE:', type(myInt))

98765432
TYPE: <class 'int'>

The built-in function int() can convert a string into an integer.

In [ ]:
my_string = "100"
print(type(my_string))
my_int = int(my_string)
print(type(my_int))

<class 'str'>
<class 'int'>

In [ ]:
# NUEVO EJEMPLO
my_str = '6757'
print('TYPE:', type(my_str))
my_int = int(my_str)
print('TYPE:', type(my_int))

TYPE: <class 'str'>
TYPE: <class 'int'>

A floating point number, or a float, is a real number in mathematics. In Python we need to include a value after a decimal point to define it as a float

In [ ]:
my_string = "100"
my_float = float(my_string)
print(type(my_float))

<class 'float'>

In [ ]:
# NUEVO EJEMPLO
my_str = '13443'
my_flo = float(my_str)
print(my_flo)
print(type(my_flo))

13443.0
<class 'float'>

As you can see above, if we don't include a decimal value, the variable would be defined as an integer. The built-in function float() can convert a string or an integer into a float.

In [ ]:
my_bool = False
print(my_bool)
print(type(my_bool))

False
<class 'bool'>

In [ ]:
# NUEVO EJEMPLO
mybool = True
print(mybool)
print(type(mybool))

True
<class 'bool'>

A boolean, or bool, is a binary variable. Its value can only be True or False. It is useful when we do some logic operations, which would be covered in our next chapter.

In [ ]:
print("Addition ", 1+1)
print("Subtraction ", 5-2)
print("Multiplication ", 2*3)
print("Division ", 10/2)
print('exponent', 2**3)

Addition  2
Subtraction  3
Multiplication  6
Division  5.0
exponent 8

In [ ]:
# NUEVO EJEMPLO
print("Addition ", 5443+44+43)
print("Subtraction ", 243-434-545)
print("Multiplication ", 543*344*43)
print("Division ", 3434/4/2)
print('exponent', 4**8)

Addition  5530
Subtraction  -736
Multiplication  8032056
Division  429.25
exponent 65536

# Basic Math Operations

The basic math operators in python are demonstrated below:

In [ ]:
print(1/3)
print(1.0/3)

0.3333333333333333
0.3333333333333333

In [ ]:
# NUEVO EJEMPLO
print(3232/50)
print(3232.0/50)

64.64
64.64

# Data Collections

## List
A list is an ordered collection of values. A list is mutable, which means you can change a list's value without changing the list itself. Creating a list is simply putting different comma-separated values between square brackets.

In [ ]:
my_list = ['Quant', 'Connect', 1,2,3]
print(my_list)

['Quant', 'Connect', 1, 2, 3]

In [ ]:
# NUEVO EJEMPLO
List = ['Vamos', 'Por ese 5', 5,5,5,5]
print(List)

['Vamos', 'Por ese 5', 5, 5, 5, 5]

The values in a list are called "elements". We can access list elements by indexing. Python index starts from 0. So if you have a list of length n, the index of the first element will be 0, and that of the last element will be n − 1. By the way, the length of a list can be obtained by the built-in function len().

In [ ]:
my_list = ['Quant', 'Connect', 1,2,3]
print(len(my_list))
print(my_list[0])
print(my_list[len(my_list) -1])

5
Quant
3

In [ ]:
# NUEVO EJEMPLO
List = ['hola', 'tilin', 3,4]
print( len(List))
print( List[0])
print( List[len(List)-1])

4
hola
4

You can also change the elements in the list by accessing an index and assigning a new value.

In [ ]:
my_list = ['Quant','Connect',1,2,3]
my_list[2] = 'go'
print(my_list)

['Quant', 'Connect', 'go', 2, 3]

In [ ]:
# NUEVO EJEMPLO
List =  ['hola', 'tilin', 'jaja']
List[0] = 'como fue'
print(List)

['como fue', 'tilin', 'jaja']

A list can also be sliced with a colon:

In [ ]:
my_list = ['Quant','Connect',1,2,3]
print(my_list[1:3])

['Connect', 1]

In [ ]:
# NUEVO EJEMPLO
List = ['Ten', 'Un', 'Feliz', 'Dia', 'amigo']
print(List[2:4])

['Feliz', 'Dia']

The slice starts from the first element indicated, but excludes the last element indicated. Here we select all elements starting from index 1, which refers to the second element:

In [ ]:
print(my_list[1:])

['Connect', 1, 2, 3]

In [ ]:
# NUEVO EJEMPLO
print(List[3:])

['Dia', 'amigo']

And all elements up to but excluding index 3:

In [ ]:
print(my_list[:3])

['Quant', 'Connect', 1]

In [ ]:
# NUEVO EJEMPLO
print(List[:2])

['Ten', 'Un']

If you wish to add or remove an element from a list, you can use the append() and remove() methods for lists as follows:

In [ ]:
my_list = ['Hello', 'Quant']
my_list.append('Hello')
print(my_list)

['Hello', 'Quant', 'Hello']

In [ ]:
# NUEVO EJEMPLO
List = ['Ten', 'Un', 'Feliz', 'Dia', 'amigo']
List.append('5')
print(List)

['Ten', 'Un', 'Feliz', 'Dia', 'amigo', '5']

In [ ]:
my_list.remove('Hello')
print(my_list)

['Quant', 'Hello']

In [ ]:
# NUEVO EJEMPLO
List = ['Ten', 'Un', 'Feliz', 'Dia', 'amigo']
List.remove('Ten')
print(List)

['Un', 'Feliz', 'Dia', 'amigo']

When there are repeated instances of "Hello", the first one is removed.

## Tuple
A tuple is a data structure type similar to a list. The difference is that a tuple is immutable, which means you can't change the elements in it once it's defined. We create a tuple by putting comma-separated values between parentheses.

In [ ]:
my_tuple = ('Welcome','to','QuantConnect')

In [ ]:
# NUEVO EJEMPLO
Tuple = ('Ten', 'Un', 'Feliz', 'Dia', 'amigo')
print(Tuple)

('Ten', 'Un', 'Feliz', 'Dia', 'amigo')

Just like a list, a tuple can be sliced by using index.

In [ ]:
my_tuple = ('Welcome','to','QuantConnect')
print(my_tuple[1:])

('to', 'QuantConnect')

In [ ]:
# NUEVO EJEMPLO
myTuple = ('Ten', 'Un', 'Feliz', 'Dia', 'amigo')
print( myTuple[:2] )

('Ten', 'Un')

## Set
A set is an **unordered**  collection with **no duplicate** elements. The built-in function **set()** can be used to create sets.

In [ ]:
stock_list = ['AAPL','GOOG','IBM','AAPL','IBM','FB','F','GOOG']
stock_set = set(stock_list)
print(stock_set)

{'GOOG', 'IBM', 'AAPL', 'F', 'FB'}

In [ ]:
# NUEVO EJEMPLO
frutas = ['pera', 'banano', 'granadilla', 'banano', 'uva', 'pera']
setfrutas = set(frutas)
print(setfrutas)

{'granadilla', 'pera', 'banano', 'uva'}

Set is an easy way to remove duplicate elements from a list.

##Dictionary
A dictionary is one of the most important data structures in Python. Unlike sequences which are indexed by integers, dictionaries are indexed by keys which can be either strings or floats.

A dictionary is an **unordered** collection of key : value pairs, with the requirement that the keys are unique. We create a dictionary by placing a comma-separated list of key : value pairs within the braces.

In [ ]:
my_dic = {'AAPL':'AAPLE', 'FB':'FaceBook', 'GOOG':'Alphabet'}

In [ ]:
print(my_dic['GOOG'])

Alphabet

In [ ]:
# NUEVO EJEMPLO
paises = {'COL':'Colombia', 'JPN':'Japon', 'CH':'Chile'}

In [ ]:
# NUEVO EJEMPLO
print( paises['COL'] )

Colombia

After defining a dictionary, we can access any value by indicating its key in brackets.

In [ ]:
my_dic['GOOG'] = 'Alphabet Company'
print(my_dic['GOOG'])

Alphabet Company

In [ ]:
# NUEVO EJEMPLO
paises = {'COL':'Colombia', 'JPN':'Japon', 'CH':'Chile'}
print( paises['JPN'] )

Japon

We can also change the value associated with a specified key:

In [ ]:
print(my_dic.keys())

dict_keys(['AAPL', 'FB', 'GOOG'])

In [ ]:
# NUEVO EJEMPLO
print( paises.keys() )

dict_keys(['COL', 'JPN', 'CH'])

The built-in method of the dictionary object dict.keys() returns a list of all the keys used in the dictionary.

# Common String Operations
A string is an immutable sequence of characters. It can be sliced by index just like a tuple:

In [ ]:
my_str = 'Welcome to QuantConnect'
print(my_str[8:])

to QuantConnect

In [ ]:
# NUEVO EJEMPLO
myStr = 'Hola amigo :D'
print(myStr[:5])

Hola

There are many methods associated with strings. We can use string.count() to count the occurrences of a character in a string, use string.find() to return the index of a specific character, and use string.replace() to replace characters

In [ ]:
print('Counting the number of e appears in this sentence'.count('e'))
print('The first time e appears in this sentence'.find('e'))
print('all the a in this sentence now becomes e'.replace('a','e'))

7
2
ell the e in this sentence now becomes e

In [ ]:
# NUEVO EJEMPLO
print('cuenta las letras a'.count('a'))
print('donde esta la h'.find('h'))
print('jajajaja'.replace('a','i'))

4
14
jijijiji

The most commonly used method for strings is string.split(). This method will split the string by the indicated character and return a list:

In [ ]:
Time = '2016-04-01 09:43:00'
splited_list = Time.split(' ')
date = splited_list[0]
time = splited_list[1]
print(date, time)
hour = time.split(':')[0]
print(hour)

2016-04-01 09:43:00
09

In [ ]:
# NUEVO EJEMPLO
fecha = 'sabado 8 30'
splited_fecha = fecha.split(' ')
print('-dia:', splited_fecha[0],'-Minutos:', splited_fecha[1],'-Segundos:', splited_fecha[2])

-dia: sabado -Minutos: 8 -Segundos: 30

We can replace parts of a string by our variable. This is called string formatting.

In [ ]:
my_time = 'Hour: {}, Minute:{}'.format('09','43')
print(my_time)

Hour: 09, Minute:43

In [ ]:
# NUEVO EJEMPLO
phrase = 'Metiendo frase ({})'.format('Hola soy una frase')
print(phrase)

Metiendo frase (Hola soy una frase)

Another way to format a string is to use the % symbol.

In [ ]:
print('the pi number is %f'%3.14)
print('%s to %s'%('Welcome','Quantconnect'))

the pi number is 3.140000
Welcome to Quantconnect

In [ ]:
# NUEVO EJEMPLO
print('En el banco tengo %f'%433443.44)
print('%s soy  %s'%('Hola','frase'))

En el banco tengo 433443.440000
Hola soy  frase

# Summary

Weave seen the basic data types and data structures in Python. It's important to keep practicing to become familiar with these data structures. In the next tutorial, we will cover for and while loops and logical operations in Python.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 02 Logical Operations and Loops

# Introduction
We discussed the basic data types and data structures in Python in the last tutorial. This chapter covers logical operations and loops in Python, which are very common in programming.

# Logical Operations
Like most programming languages, Python has comparison operators:

In [ ]:
print(1 == 0)
print(1 == 1)
print(1 != 0)
print(5 >= 5)
print(5 >= 6)

False
True
True
True
False

In [ ]:
# NUEVO EJEMPLO
print(46 == 64)
print(56 == 56)
print(10545 != 10)
print(4545 >= 4545454)
print(754554 >= 4576776)

False
True
True
False
False

Each statement above has a boolean value, which must be either True or False, but not both.

We can combine simple statements P and Q to form complex statements using logical operators:

- The statement "P and Q" is true if both P and Q are true, otherwise it is false.
- The statement "P or Q" is false if both P and Q are false, otherwise it is true.
- The statement "not P" is true if P is false, and vice versa.

In [ ]:
print(2 > 1 and 3 > 2)
print(2 > 1 and 3 < 2 )
print(2 > 1 or 3 < 2)
print(2 < 1 and 3 < 2)

True
False
True
False

In [ ]:
# NUEVO EJEMPLO
print (54 < 76 and 35 > 25)
print (43 < 33 and 34 < 43)
print (24 > 54 or 6767 > 5667)
print (2 < 45 and 3 > 2)

True
False
True
True

When dealing with a very complex logical statement that involves in several statements, we can use brackets to separate and combine them.

In [ ]:
print((3 > 2 or 1 < 3) and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))
print(3 > 2 or 1 < 3 and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))

False
True

In [ ]:
# NUEVO EJEMPLO
print((2 > 7 or 9 < 3) and (26!=66 and 7==88) and not ( 9 <= 2 or 2 < 6 and (6==6 and 77>66)))
print(2 > 7 or 5 <= 33 and (41!=86 and 7>=99) and not ( 7 == 77 or 87 < 67 and (65!=56 and 4==3)))

False
False

Comparing the above two statements, we can see that it's wise to use brackets when we make a complex logical statement.

# If Statement
An if statement executes a segment of code only if its condition is true. A standard if statement consists of 3 segments: if, elif and else.

```python
if statement1:
    # if the statement1 is true, execute the code here.
    # code.....
    # code.....
elif statement2:
    # if the statement 1 is false, skip the codes above to this part.
    # code......
    # code......
else:
    # if none of the above statements is True, skip to this part
    # code......
```

An if statement doesn't necessarily has elif and else part. If it's not specified, the indented block of code will be executed when the condition is true, otherwise the whole if statement will be skipped.

In [ ]:
i = 0
if i == 0:
    print('i==0 is True')

i==0 is True

In [ ]:
# NUEVO EJEMPLO
i = 454554
if i != 8998:
    print('454554!=8998 is True')

454554!=8998 is True

As we mentioned above, we can write some complex statements here:

In [ ]:
p = 1 > 0
q = 2 > 3
if p and q:
    print('p and q is true')
elif p and not q:
    print('q is false')
elif q and not p:
    print('p is false')
else:
    print('None of p and q is true')

q is false

In [ ]:
# EJEMPLO PROPIO
p = 4554 < 4554
q = 45 < 35
if p and q:
    print('p and q is true')
elif p and not q:
    print('q is false')
elif q and not p:
    print('p is false')
else:
    print('None of p and q is true')

None of p and q is true

# Loop Structure
Loops are an essential part of programming. The "for" and "while" loops run a block of code repeatedly.

## While Loop
A "while" loop will run repeatedly until a certain condition has been met.

In [ ]:
i = 0
while i < 5:
    print(i)
    i += 1

0
1
2
3
4

In [ ]:
# NUEVO EJEMPLO
a = 20000
while a <= 80000:
    print(a)
    a += 20000

20000
40000
60000
80000

When making a while loop, we need to ensure that something changes from iteration to iteration so that the while loop will terminate, otherwise, it will run forever. Here we used i += 1 (short for i = i + 1) to make i larger after each iteration. This is the most commonly used method to control a while loop.

## For Loop
A "for" loop will iterate over a sequence of value and terminate when the sequence has ended.

In [ ]:
for i in [1,2,3,4,5]:
    print(i)

1
2
3
4
5

In [ ]:
# NUEVO EJEMPLO
for a in [34,34,5545,45455,6776767]:
    print(a)

34
34
5545
45455
6776767

We can also add if statements in a for loop. Here is a real example from our pairs trading algorithm:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = []
for i in stocks:
    if i not in selected:
        new_list.append(i)
print(stocks)

['AAPL', 'GOOG', 'IBM', 'FB', 'F', 'V', 'G', 'GE']

In [ ]:
# NUEVO EJEMPLO
phrase = 'asta es una frasa can a'
selected = ['a']
newList = []
for a in phrase:
    if (a in selected):
        newList.append(a)
print(newList)

['a', 'a', 'a', 'a', 'a', 'a', 'a']

Here we iterated all the elements in the list 'stocks'. Later in this chapter, we will introduce a smarter way to do this, which is just a one-line code.

## Break and continue
These are two commonly used commands in a for loop. If "break" is triggered while a loop is executing, the loop will terminate immediately:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    print(i)
    if i == 'FB':
        break

AAPL
GOOG
IBM
FB

In [ ]:
# NUEVO EJEMPLO
let = ['a', 'b', 'c', 'd', 'e' , 'e']
for l in let:
    print(l)
    if (l=='d'):
        break

a
b
c
d

The "continue" command tells the loop to end this iteration and skip to the next iteration:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    if i == 'FB':
        continue
    print(i)

AAPL
GOOG
IBM
F
V
G
GE

In [ ]:
# NUEVO EJEMPLO
let = ['a', 'd', 'c', 'd', 'e' , 'd']
for l in let:
    if l == 'd':
        continue
    print(l)

a
c
e

# List Comprehension
List comprehension is a Pythonic way to create lists. Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence. For example, if we want to create a list of squares using for loop:

In [ ]:
squares = []
for i in [1,2,3,4,5]:
    squares.append(i**2)
print(squares)

[1, 4, 9, 16, 25]

In [ ]:
# NUEVO EJEMPLO
cubes = []
for i in [60,70,80,90]:
    cubes.append(i**3)
print(cubes)

[216000, 343000, 512000, 729000]

Using list comprehension:

In [ ]:
qList = [1,2,3,4,5]
squares = [x**2 for x in qList]
print(squares)

[1, 4, 9, 16, 25]

In [ ]:
# NUEVO EJEMPLO
List = [56,87,37,89,23]
cubes = [x**3 for x in List]
print(cubes)

[175616, 658503, 50653, 704969, 12167]

Recall the example above where we used a for loop to select stocks. Here we use list comprehension:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = [x for x in stocks if x in selected]
print(new_list)

['AAPL', 'IBM']

In [ ]:
# NUEVO EJEMPLO
listl = [56561652,656563,5678874,50990,788778,3434,56776,67,4,5,4,5,4]
selected = [5,56561652]
List = [x for x in listl if x in selected]
print(List)

[56561652, 5, 5]

A list comprehension consists of square brackets containing an expression followed by a "for" clause, and possibly "for" or "if" clauses. For example:

In [ ]:
print( [(x, y) for x in [1,2,3] for y in [3,1,4] if x != y] )
print( [str(x)+' vs '+str(y) for x in ['AAPL','GOOG','IBM','FB'] for y in ['F','V','G','GE'] if x!=y] )

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]
['AAPL vs F', 'AAPL vs V', 'AAPL vs G', 'AAPL vs GE', 'GOOG vs F', 'GOOG vs V', 'GOOG vs G', 'GOOG vs GE', 'IBM vs F', 'IBM vs V', 'IBM vs G', 'IBM vs GE', 'FB vs F', 'FB vs V', 'FB vs G', 'FB vs GE']

In [ ]:
# NUEVO EJEMPLO
print( [(x, y) for x in [56,65,89,76] for y in [79,80,70] if x != y] )
print( [str(x)+' vs '+str(y) for x in ['Homero','Bart','Maggie'] for y in ['Lisa','Marge'] if x!=y] )

[(56, 79), (56, 80), (56, 70), (65, 79), (65, 80), (65, 70), (89, 79), (89, 80), (89, 70), (76, 79), (76, 80), (76, 70)]
['Homero vs Lisa', 'Homero vs Marge', 'Bart vs Lisa', 'Bart vs Marge', 'Maggie vs Lisa', 'Maggie vs Marge']

List comprehension is an elegant way to organize one or more for loops when creating a list.

# Summary
This chapter has introduced logical operations, loops, and list comprehension. In the next chapter, we will introduce functions and object-oriented programming, which will enable us to make our codes clean and versatile.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 03 Functions and Objective-Oriented Programming

# Introduction

In the last tutorial we introduced logical operations, loops and list comprehension. We will introduce functions and object-oriented programming in this chapter, which will enable us to build complex algorithms in more flexible ways.

# Functions
A function is a reusable block of code. We can use a function to output a value, or do anything else we want. We can easily define our own function by using the keyword "def".

In [ ]:
def product(x,y):
    return x*y
print(product(2,3))
print(product(5,10))

6
50

In [ ]:
# NUEVO EJEMPLO
def exp(x, y):
    return x**y
print(exp(3,652))
print(exp(652,3))

121076003492901667573267968125980016188898839067718471997699955241683451306283571774920131396844356544079662099235043147847722595314846965876005300920589709105128845091602123324245611834757869947673772714174871140798776319582956127020842821566458384804725340205083949783522264140364949242312918568818649459744241
277167808

The keyword "def" is followed by the function name and the parenthesized list of formal parameters. The statements that form the body of the function start at the next line, and must be indented. The product() function above has "x" and "y" as its parameters. A function doesn't necessarily have parameters:

In [ ]:
def say_hi():
    print('Welcome to QuantConnect')
say_hi()

Welcome to QuantConnect

In [ ]:
# NUEVO EJEMPLO
def hola(): print('hola compañero')
hola()

hola compañero

# Built-in Function
**range()** is a function that creates a list containing an arithmetic sequence. It's often used in for loops. The arguments must be integers. If the "step" argument is omitted, it defaults to 1.

In [ ]:
print(range(10))
print(range(1,11))
print(range(1,11,2))

range(0, 10)
range(1, 11)
range(1, 11, 2)

In [ ]:
# NUEVO EJEMPLO
print( (range(6767)) )
print( (range(10,5000000)) )
print( (range(20,700,2)))

range(0, 6767)
range(10, 5000000)
range(20, 700, 2)

**len()** is another function used together with range() to create a for loop. This function returns the length of an object. The argument must be a sequence or a collection.

In [ ]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print('The length of tickers is {}'.format(len(tickers)))
for i in range(len(tickers)):
    print(tickers[i])

The length of tickers is 8
AAPL
GOOG
IBM
FB
F
V
G
GE

In [ ]:
# NUEVO EJEMPLO
listl = ['a','b','c','d','e','f','g']

print('Longitud de la lista es :', len(listl))
print('Lista:', listl)

Longitud de la lista es : 7
Lista: ['a', 'b', 'c', 'd', 'e', 'f', 'g']

Note: If you want to print only the tickers without those numbers, then simply write "for ticker in tickers: print ticker"

**map(**) is a function that applies a specific function to every item of a sequence or collection, and returns a list of the results.

In [ ]:

for tickers in map(len,['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']):
    print( tickers )

4
4
3
2
1
1
1
2

In [ ]:
# NUEVO EJEMPLO
for ej  in map(len,['a','bb','ccc','dddd','eeeee','dddddd']):
    print( ej )

1
2
3
4
5
6

The **lambda operator** is a way to create small anonymous functions. These functions are just needed where they have been created. For example:

In [ ]:

for sqrt  in map(lambda x: x**2,[0,1,2,3,4,5,6,7,8,9]):
    print( sqrt )

0
1
4
9
16
25
36
49
64
81

In [ ]:
# NUEVO EJEMPLO
for cube  in map(lambda x: x**3,[0,1,2,3,4,5]):
    print( cube )

0
1
8
27
64
125

map() can be applied to more than one list. The lists have to have the same length.

In [ ]:
for sum  in map(lambda x, y: x+y,[1,2,3,4,5],[5,4,3,2,1]):
    print( sum )

6
6
6
6
6

In [ ]:
# NUEVO EJEMPLO
for ej2  in map(lambda x, y: x+'U'+y,['a', 'b'],['c','d']):
    print( ej2 )

aUc
bUd

**sorted()** takes a list or set and returns a new sorted list

In [ ]:
sorted([5,2,3,4,1])

[1, 2, 3, 4, 5]

In [ ]:
# NUEVO EJEMPLO
sorted( [5,6,5,656,65,8,79,7,34,2,2,3,45,6,7,7,8] )

[2, 2, 3, 5, 5, 6, 6, 7, 7, 7, 8, 8, 34, 45, 65, 79, 656]

We can add a "key" parameter to specify a function to be called on each list element prior to making comparisons. For example:

In [ ]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1])

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]

In [ ]:
# NUEVO EJEMPLO
prices = [ ('pollo', 10000), ('arroz', 4000), ('leche', 3600), ('papa', 800) ]
sorted( prices, key=lambda x: x[1] )

[('papa', 800), ('leche', 3600), ('arroz', 4000), ('pollo', 10000)]

By default the values are sorted by ascending order. We can change it to descending by adding an optional parameter "reverse'.

In [ ]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1],reverse = True)

[('GOOG', 911.71), ('FB', 150), ('AAPL', 144.09), ('WMT', 75.32), ('MSFT', 69)]

In [ ]:
# NUEVO EJEMPLO
prices = [ ('pollo', 10000), ('arroz', 4000), ('leche', 3600), ('papa', 800), ('maiz', 3000) ]
sorted( prices, key=lambda x: x[1],reverse = True,  )

[('pollo', 10000),
 ('arroz', 4000),
 ('leche', 3600),
 ('maiz', 3000),
 ('papa', 800)]

Lists also have a function list.sort(). This function takes the same "key" and "reverse" arguments as sorted(), but it doesn't return a new list.

In [ ]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
price_list.sort(key = lambda x: x[1])
print(price_list)

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]

In [ ]:
# NUEVO EJEMPLO
prices = [ ('pollo', 10000), ('arroz', 4000), ('leche', 3600), ('papa', 800), ('maiz', 3000) ]
prices.sort(key=lambda x: x[1] )
print(prices)

[('papa', 800), ('maiz', 3000), ('leche', 3600), ('arroz', 4000), ('pollo', 10000)]

# Object-Oriented Programming
Python is an object-oriented programming language. It's important to understand the concept of "objects" because almost every kind of data from QuantConnect API is an object.

## Class
A class is a type of data, just like a string, float, or list. When we create an object of that data type, we call it an instance of a class.

In Python, everything is an object - everything is an instance of some class. The data stored inside an object are called attributes, and the functions which are associated with the object are called methods.

For example, as mentioned above, a list is an object of the "list" class, and it has a method list.sort().

We can create our own objects by defining a class. We would do this when it's helpful to group certain functions together. For example, we define a class named "Stock" here:

In [ ]:
class stock:
    def __init__(self, ticker, open, close, volume):
        self.ticker = ticker
        self.open = open
        self.close = close
        self.volume = volume
        self.rate_return = float(close)/open - 1
 
    def update(self, open, close):
        self.open = open
        self.close = close
        self.rate_return = float(self.close)/self.open - 1
 
    def print_return(self):
        print(self.rate_return)

In [ ]:
# NUEVO EJEMPLO
class Perro:
    def __init__(self, nombre, raza):
        self.nombre = nombre
        self.raza = raza
    def getNombre(self):
        return self.nombre
    def getRaza(self):
        return self.raza

The "Stock" class has attributes "ticker", "open", "close", "volume" and "rate_return". Inside the class body, the first method is called __init__, which is a special method. When we create a new instance of the class, the __init__ method is immediately executed with all the parameters that we pass to the "Stock" object. The purpose of this method is to set up a new "Stock" object using data we have provided.

Here we create two Stock objects named "apple" and "google".

In [ ]:
apple = stock('AAPL', 143.69, 144.09, 20109375)
google = stock('GOOG', 898.7, 911.7, 1561616)

In [ ]:
# NUEVO EJEMPLO
perro1 = Perro('salchi', 'dalmata')
perro2 = Perro('motas', 'pincher')

Stock objects also have two other methods: update() and print_return(). We can access the attribues of a Stock object and call its methods:

In [ ]:
apple.ticker
google.print_return()
google.update(912.8,913.4)
google.print_return()

0.014465338822744034
0.0006573181419806673

In [ ]:
# NUEVO EJEMPLO
print( perro1.getNombre(), perro1.getRaza() )
print( perro2.getNombre(), perro2.getRaza() )

salchi dalmata
motas pincher

By calling the update() function, we updated the open and close prices of a stock. Please note that when we use the attributes or call the methods **inside a class**, we need to specify them as self.attribute or self.method(), otherwise Python will deem them as global variables and thus raise an error.

We can add an attribute to an object anywhere:

In [ ]:
apple.ceo = 'Tim Cook'
apple.ceo

'Tim Cook'

In [ ]:
# NUEVO EJEMPLO
perro1.edad = 4
perro1.edad

4

We can check what names (i.e. attributes and methods) are defined on an object using the dir() function:

In [ ]:
dir(apple)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'ceo',
 'close',
 'open',
 'print_return',
 'rate_return',
 'ticker',
 'update',
 'volume']

In [ ]:
# NUEVO EJEMPLO
dir(perro1)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'edad',
 'getNombre',
 'getRaza',
 'nombre',
 'raza']

## Inheritance
Inheritance is a way of arranging classes in a hierarchy from the most general to the most specific. A "child" class is a more specific type of a "parent" class because a child class will inherit all the attribues and methods of its parent. For example, we define a class named "Child" which inherits "Stock":

In [ ]:
class child(stock):
    def __init__(self,name):
        self.name = name

In [ ]:
aa = child('aa')
print(aa.name)
aa.update(100,102)
print(aa.open)
print(aa.close)
print(aa.print_return())

aa
100
102
0.020000000000000018
None

In [ ]:
# NUEVO EJEMPLO
class PerroAdopcion(Perro):
    def __init__(self):
        self.nombre = 'NombreEnAdopcion'
        self.raza = 'RazaEnAdopcion'

In [ ]:
# NUEVO EJEMPLO
perro3 = PerroAdopcion()
print(perro3.getNombre())
print(perro3.getRaza())

NombreEnAdopcion
RazaEnAdopcion

As seen above, the new class Child has inherited the methods from Stock.

#Summary

In this chapter we have introduced functions and classes. When we write a QuantConnect algorithm, we would define our algorithm as a class (QCAlgorithm). This means our algorithm inherited the QC API methods from QCAlgorithm class.

In the next chapter, we will introduce NumPy and Pandas, which enable us to conduct scientific calculations in Python.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 04 NumPy and Basic Pandas

# Introduction

Now that we have introduced the fundamentals of Python, it's time to learn about NumPy and Pandas.

# NumPy
NumPy is the core library for scientific computing in Python. It provides a high-performance multidimensional array object, and tools for working with these arrays. It also has strong integration with Pandas, which is another powerful tool for manipulating financial data.

Python packages like NumPy and Pandas contain classes and methods which we can use by importing the package:

In [ ]:
import numpy as np

## Basic NumPy Arrays
A NumPy array is a grid of values, all of the same type, and is indexed by a tuple of nonnegative integers. Here we make an array by passing a list of Apple stock prices:

In [ ]:
price_list = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
price_array = np.array(price_list)
print(price_array, type(price_array))

[143.73 145.83 143.68 144.02 143.5  142.62] <class 'numpy.ndarray'>

In [ ]:
# NUEVO EJEMPLO
List = [232.0, 443.0, 543.5, 787.0]
myNumPyList = np.array( List )
print( myNumPyList, type(myNumPyList) )

[232.  443.  543.5 787. ] <class 'numpy.ndarray'>

Notice that the type of array is "ndarray" which is a multi-dimensional array. If we pass np.array() a list of lists, it will create a 2-dimensional array.

In [ ]:
Ar = np.array([[1,3],[2,4]])
print(Ar, type(Ar))

[[1 3]
 [2 4]] <class 'numpy.ndarray'>

In [ ]:
# NUEVO EJEMPLO
newArr = np.array([ [9, 8], [2, 8] ])
print( newArr, type( newArr ) )

[[9 8]
 [2 8]] <class 'numpy.ndarray'>

We get the dimensions of an ndarray using the .shape attribute:

In [ ]:
print(Ar.shape)

(2, 2)

In [ ]:
# NUEVO EJEMPLO
print( newArr.shape )

(2, 2)

If we create an 2-dimensional array (i.e. matrix), each row can be accessed by index:

In [ ]:
print(Ar[0])
print(Ar[1])

[1 3]
[2 4]

In [ ]:
# NUEVO EJEMPLO
print( newArr[0] )
print( newArr[1] )

[9 8]
[2 8]

If we want to access the matrix by column instead:

In [ ]:
print('the first column: ', Ar[:,0])
print('the second column: ', Ar[:,1])

the first column:  [1 2]
the second column:  [3 4]

In [ ]:
# NUEVO EJEMPLO
print('Columna uno: ', newArr[:,0])
print('Columna dos: ', newArr[:,1])

Columna uno:  [9 2]
Columna dos:  [8 8]

## Array Functions
Some functions built in NumPy that allow us to perform calculations on arrays. For example, we can apply the natural logarithm to each element of an array:

In [ ]:
print(np.log(price_array))

[4.96793654 4.98244156 4.9675886  4.96995218 4.96633504 4.96018375]

In [ ]:
# # NUEVO EJEMPLO
print( np.log( List ) )

[5.44673737 6.09356977 6.29802971 6.66822825]

Other functions return a single value:

In [ ]:
print(np.mean(price_array))
print(np.std(price_array))
print(np.sum(price_array))
print(np.max(price_array))

143.89666666666668
0.9673790478515796
863.38
145.83

In [ ]:
# NUEVO EJEMPLO
print( np.mean(List) )
print( np.std(List) )
print( np.sum(List) )
print( np.max(List) )

501.375
199.5787360291672
2005.5
787.0

The functions above return the mean, standard deviation, total and maximum value of an array.

# Pandas
Pandas is one of the most powerful tools for dealing with financial data. 

First we need to import Pandas:

In [ ]:
import pandas as pd

## Series
Series is a one-dimensional labeled array capable of holding any data type (integers, strings, float, Python object, etc.)

We create a Series by calling pd.Series(data), where data can be a dictionary, an array or just a scalar value.

In [ ]:
price = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
s = pd.Series(price)
s

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
dtype: float64

In [ ]:
# NUEVO EJEMPLO
series = pd.Series( List )
print(series)

0    232.0
1    443.0
2    543.5
3    787.0
dtype: float64

We can customize the indices of a new Series:

In [ ]:
s = pd.Series(price,index = ['a','b','c','d','e','f'])
s

a    143.73
b    145.83
c    143.68
d    144.02
e    143.50
f    142.62
dtype: float64

In [ ]:
# NUEVO EJEMPLO
series = pd.Series( List, index=['a','b','c','d'] )
print(series)

a    232.0
b    443.0
c    543.5
d    787.0
dtype: float64

Or we can change the indices of an existing Series:

In [ ]:
s.index = [6,5,4,3,2,1]
s

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64

In [ ]:
# NUEVO EJEMPLO
series.index = [4,3,2,1]
series

4    232.0
3    443.0
2    543.5
1    787.0
dtype: float64

Series is like a list since it can be sliced by index:

In [ ]:
print(s[1:])
print(s[:-2])

5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64
6    143.73
5    145.83
4    143.68
3    144.02
dtype: float64

In [ ]:
# NUEVO EJEMPLO
print(series[3:])
print(series[:-1])

1    787.0
dtype: float64
4    232.0
3    443.0
2    543.5
dtype: float64

Series is also like a dictionary whose values can be set or fetched by index label:

In [ ]:
print(s[4])
s[4] = 0
print(s)

143.68
6    143.73
5    145.83
4      0.00
3    144.02
2    143.50
1    142.62
dtype: float64

In [ ]:
# NUEVO EJEMPLO
print(series[1])
series[2] = 767667
print(series)

787.0
4       232.0
3       443.0
2    767667.0
1       787.0
dtype: float64

Series can also have a name attribute, which will be used when we make up a Pandas DataFrame using several series.

In [ ]:
s = pd.Series(price, name = 'Apple Price List')
print(s)
print(s.name)

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
Name: Apple Price List, dtype: float64
Apple Price List

In [ ]:
# NUEVO EJEMPLO
series = pd.Series( List, name='Promedios de vida' )
print(series)
print(series.name)

0    232.0
1    443.0
2    543.5
3    787.0
Name: Promedios de vida, dtype: float64
Promedios de vida

We can get the statistical summaries of a Series:

In [ ]:
print(s.describe())

count      6.000000
mean     143.896667
std        1.059711
min      142.620000
25%      143.545000
50%      143.705000
75%      143.947500
max      145.830000
Name: Apple Price List, dtype: float64

In [ ]:
# NUEVO EJEMPLO
print(series.describe())

count      4.000000
mean     501.375000
std      230.453674
min      232.000000
25%      390.250000
50%      493.250000
75%      604.375000
max      787.000000
Name: Promedios de vida, dtype: float64

## Time Index
Pandas has a built-in function specifically for creating date indices: pd.date_range(). We use it to create a new index for our Series:

In [ ]:
time_index = pd.date_range('2017-01-01',periods = len(s),freq = 'D')
print(time_index)
s.index = time_index
print(s)

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06'],
              dtype='datetime64[ns]', freq='D')
2017-01-01    143.73
2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
2017-01-06    142.62
Freq: D, Name: Apple Price List, dtype: float64

In [ ]:
# NUEVO EJEMPLO
timeIndex = pd.date_range( '2020-06-16', periods=len(series), freq='D' )
print(timeIndex)
series.index = timeIndex
print(series)

DatetimeIndex(['2020-06-16', '2020-06-17', '2020-06-18', '2020-06-19'], dtype='datetime64[ns]', freq='D')
2020-06-16    232.0
2020-06-17    443.0
2020-06-18    543.5
2020-06-19    787.0
Freq: D, Name: Promedios de vida, dtype: float64

Series are usually accessed using the iloc[] and loc[] methods. iloc[] is used to access elements by integer index, and loc[] is used to access the index of the series.

iloc[] is necessary when the index of a series are integers, take our previous defined series as example:

In [ ]:
s.index = [6,5,4,3,2,1]
print(s)
print(s[1])

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
Name: Apple Price List, dtype: float64
142.62

In [ ]:
# NUEVO EJEMPLO
series.index = [3,2,1,0]
print(series)
print(series[0])

3    232.0
2    443.0
1    543.5
0    787.0
Name: Promedios de vida, dtype: float64
787.0

If we intended to take the second element of the series, we would make a mistake here, because the index are integers. In order to access to the element we want, we use iloc[] here:

In [ ]:
print(s.iloc[1])

145.83

In [ ]:
# NUEVO EJEMPLO
print( series.iloc[3] )

787.0

While working with time series data, we often use time as the index. Pandas provides us with various methods to access the data by time index

In [ ]:
s.index = time_index
print(s['2017-01-03'])

143.68

In [ ]:
# NUEVO EJEMPLO
series.index = timeIndex
print( series['2020-06-18 '] )

543.5

We can even access to a range of dates:

In [ ]:
print(s['2017-01-02':'2017-01-05'])

2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
Freq: D, Name: Apple Price List, dtype: float64

In [ ]:
# NUEVO EJEMPLO
print( series['2020-06-16': '2020-06-19'] )

2020-06-16    232.0
2020-06-17    443.0
2020-06-18    543.5
2020-06-19    787.0
Freq: D, Name: Promedios de vida, dtype: float64

Series[] provides us a very flexible way to index data. We can add any condition in the square brackets:

In [ ]:
print(s[s < np.mean(s)] )
print([(s > np.mean(s)) & (s < np.mean(s) + 1.64*np.std(s))])

2017-01-01    143.73
2017-01-03    143.68
2017-01-05    143.50
2017-01-06    142.62
Name: Apple Price List, dtype: float64
[2017-01-01    False
2017-01-02    False
2017-01-03    False
2017-01-04     True
2017-01-05    False
2017-01-06    False
Freq: D, Name: Apple Price List, dtype: bool]

In [ ]:
# NUEVO EJEMPLO
print( series[series < np.mean(series)] )
print([(s > np.mean(s)) & (s < np.mean(s) + 3.44*np.std(s))])

2020-06-16    232.0
2020-06-17    443.0
Freq: D, Name: Promedios de vida, dtype: float64
[2017-01-01    False
2017-01-02     True
2017-01-03    False
2017-01-04     True
2017-01-05    False
2017-01-06    False
Freq: D, Name: Apple Price List, dtype: bool]

As demonstrated, we can use logical operators like & (and), | (or) and ~ (not) to group multiple conditions.

# Summary
Here we have introduced NumPy and Pandas for scientific computing in Python. In the next chapter, we will dive into Pandas to learn resampling and manipulating Pandas DataFrame, which are commonly used in financial data analysis.